.center-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {

    background-image: url('Kimchi.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1:hover {
    color: orange;
}

nav {
    font-size: 1000%;
}
